# vscode workspace
*.code-workspace

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# files
secrets.yaml
secrets.yml

# folders
__pycache__/
.esphome/
.venv/

# Development and analysis files

# Log files in top folder
/*.log

# Python files in top folder
/*.py

/*.yaml

Config_flow.pdf
config_flow.txt
1fc9_binding_29_181233.md

# Configuration files (optional - uncomment if you want to ignore these)
# configuration_example.yaml
# recorder_config_example.yaml
# ventilation.yaml
